{erl_opts, [debug_info]}.

{deps, [
        {getopt,  "1.0.1"}
]}.

{escript_incl_apps,
 [ebump]}.
{escript_main_app, ebump}.
{escript_name, ebump}.
{escript_emu_args, "%%! +sbtu +A1 +K true -sname ebump -smp enable\n"}.

%% xref configurations
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
             ]}]}.
